<ul>
    <li>
        <a href="{{ path('object') }}">
            List Object
        </a>
    </li>
    <li>
        <a href="{{ path('object_new') }}">
            Create Object
        </a>
    </li>
</ul>