<ul>
    <li>
        <a href="{{ path('category') }}">
            List Category
        </a>
    </li>
    <li>
        <a href="{{ path('category_new') }}">
            Create category
        </a>
    </li>
</ul>