<ul>
    <li>
        <a href="{{ path('page') }}">
            List Page
        </a>
    </li>
    <li>
        <a href="{{ path('page_new') }}">
            Create Page
        </a>
    </li>
</ul>