<ul>
    <li>
        <a href="{{ path('item') }}">
            List Item
        </a>
    </li>
    <li>
        <a href="{{ path('item_new') }}">
            Create Item
        </a>
    </li>
</ul>