<ul>
    <li>
        <a href="{{ path('group') }}">
            List Group
        </a>
    </li>
    <li>
        <a href="{{ path('group_new') }}">
            Create Group
        </a>
    </li>
</ul>