<ul>
    <li>
        <a href="{{ path('message') }}">
            List Message
        </a>
    </li>
    <li>
        <a href="{{ path('message_new') }}">
            Create Message
        </a>
    </li>
</ul>