{% extends 'ExampleApplicationBundle:Layout:main.html.twig' %}
{% form_theme form 'ExampleApplicationBundle:Form:field.html.twig' %}
{% block header %}
<h1>Create Message</h1>
{% endblock header %}
{% block local %}
{% include "ExampleApplicationBundle:Message:navigation.html.twig" %}
{% endblock local %}
{% block content %}
{% block update %}
<form action="{{ path('message_create') }}" method="post" class="create" {{ form_enctype(form) }} novalidate>
    {{ form_widget(form) }}
    <button type="submit">Create Message</button>
</form>
{% endblock update %}
{% endblock content %}