<ul>
    <li>
        <a href="{{ path('user') }}">
            List User
        </a>
    </li>
    <li>
        <a href="{{ path('user_new') }}">
            Create User
        </a>
    </li>
</ul>