<ul>
    <li>
        <a href="{{ path('profile') }}">
            List Profile
        </a>
    </li>
    <li>
        <a href="{{ path('profile_new') }}">
            Create Profile
        </a>
    </li>
</ul>